*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 60px;
    padding: 0;
    background: #333;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

.container{
    display: grid;
    grid-template: 2fr 1fr / 1fr 1fr;
    text-align: center;
    height: 80vh;
}

.header{
    grid-column: 1 / span 2;
}

//header style

.header h1{
    margin-top: 3em;
}

.header button{
    float: left;
}

.header .line{
    width: 100%;
    height: 10px;
    background: #fff;
    margin-top: 100px;
    position: relative;
}

.header .number{
    width: 200px;
    height: 100px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .number #num{
    color: #000;
    margin: 15% auto;
    font-size: 3.5em;
}

button{
    font-family: 'Press Start 2P', cursive;
    border: none;
    background: #fff;
    padding: 1rem;
    font-size: 2em;
    color: #000;
}

.header small{
    float: right;
}

// left section style

.section-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}


.section-left input{
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5em;
    color: #fff;
    padding: 1rem 1.5rem;
    outline: none;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 3px;
}

input[type=number]::-webkit-inner-spin-button {  
    width: 14px;
    padding: 0 10px;
}

// right section style

.section-right{
    display: flex;
    flex-direction: column;
    text-align: center;
}


